#cpu{
    left: 100px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-color: bisque;
    border: solid black 5px;
    border-radius: 5px;

}
#control{}

#processor{}
#registers{}
#alu{}
#memory{}
#input{}
#output{}

.firkant{
    position: absolute;
    left: 0;
    top:0;
    width: 100px;
    height: 100px;
    background-color: blue;
}